---
---
html {
  font-size: 18px;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.mainheader {
  background: url("../img/halftone_bg.svg") #c1272d no-repeat bottom center;
  width: 100%;
  background-size: contain;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-bottom: 60px;
  img {
    width: 100%;
    max-width: 700px;
  }
  nav {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(138,28,32,0.6);
    ul {
      width: 100%;
      max-width: 800px;
      position: relative;
      margin: 0 auto;
      height: 100%;
      text-align: right;
    }
    li {
      display: inline-block;
      height: 100%;
      line-height: 60px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    a {
      display: inline-block;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 0 20px;
      color: white;
      cursor: pointer;
      &:hover {
        text-decoration: none;
        background: rgba(138,28,32,1);
      }
    }
  }
}
.logo {
  max-width: 844px;
  width: 100%;
  height: auto;
  position: relative;
}
#content {
  max-width: 820px;
  position: relative;
  margin: 20px auto 0;
}
h1 {
  font-size: 2.5rem;
  margin: 40px 0 10px;
}
p {
  line-height: 1.4rem;
}
a {
  color: #347187;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.episode {
  display: inline-block;
  margin-bottom: 50px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  .back, .front {
    width: 300px;
    height: 400px;
    box-shadow: 1px 7px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    vertical-align: top;
  }
  &.season_1 {
    .front {
      background: url('/img/halftone_bg_small.svg') #FFEBAF no-repeat;
      background-position: right bottom;
      background-size: 241px 580px;
      position: relative;
    }
  }
  &.season_2 {
    .front {
      background: url('/img/halftone_bg_small2.svg') #A2DBD0 no-repeat;
      background-position: -255px 0;
      background-size: 684px 290px;
      position: relative;
    }
  }
  .front {
    .guestname {
      position: absolute;
      bottom: 20px;
      left: 20px;
      z-index: 3;
      font-size: 30px;
    }
    .full_link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 3;
    }
  }
  .front_image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .logo_small {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
  }
  .title {
    color: white;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
    font-family: 'ostrich_sans';
    font-size: 24px;
    padding: 5px;
    &:before {
      content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 112px 112px 0;
      border-color: transparent #42AF9B transparent transparent;
      position: absolute;
      z-index: -1;
      right: 0;
      top: 0;
    }
  }
  .guestname, .guestname a {
    font-family: 'blackout';
    color: #e24c68;
  }
  .back {
    background: #F0E8DC;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 10px;
    color: #6e5f5c;
    position: relative;
    header {
      background: #F7BE5A;
      height: 40px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 0 10px;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      align-items: center;
      -webkit-align-items: center;
    }
    .guestname {
      font-size: 26px;
      position: relative;
      top: 2px;
    }
    .guestname, .episodenumber {
      display: inline-block;
    }
    .episodenumber, .episodenumber a {
      color: #6e5f5c;
      font-family: Impact, HelveticaNeue-CondensedBlack, sans-serif;
      font-size: 24px;
    }
    .avatar {
      width: 80px;
      height: 80px;
      background-size: cover;
      border-radius: 40px;
      margin: 0 10px 0 0;
      float: left;
    }
    .backdetails {
      padding: 10px 20px 35px;
      height: 240px;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
    }
    dl {
      font-size: 14px;
      a {
        font-weight: 400;
      }
    }
    .toplist {
      margin-top: 6px;
      margin-bottom: 15px;
    }
    dt {
      font-weight: 700;
      margin-bottom: 2px;
    }
    dd {
      font-weight: 400;
      margin-bottom: 10px;
      p {
        line-height: normal;
      }
    }
    .links {
      font-size: 14px;
      list-style: none;
      position: absolute;
      bottom: 12px;
      li {
        display: inline-block;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        &.twitter:before {
          content: url('/img/twitter.svg');
          position: relative;
          top: 4px;
        }
      }
    }
    .audioplayer {
      background: white;
      width: 100%;
      height: 95px;
      position: absolute;
      bottom: 14px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 12px 20px;
      h2 {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
      }
      .recorddate, .download {
        font-size: 12px;
        display: inline-block;
        float: left;
        margin-top: 8px;
        font-weight: 400;
      }
      .recorddate {
        float: right;
      }
    }
  }
}
#content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-bottom: 30px;
  padding-left: 200px;
  position: relative;
}
.caption {
  margin-top: 0.8rem;
  font-size: 0.7rem;
}
.sidemenu {
  position: absolute;
  left: 0;
  top: 0;
  width: 160px;
  vertical-align: top;
  font-size: 0.75rem;
  line-height: 1.1rem;
  margin-bottom: 60px;
  section {
    font-size: 0.7rem;
    display: block;
    margin-bottom: 40px;
  }
  header {
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 0;
  }
  .description {
    font-size: 1rem;
    margin-bottom: 60px;
    p {
      line-height: 1.3rem;
    }
  }
}
.sponsor {
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 10px;
    margin-right: 30px;
  }
}
.ad {
  width: 120px;
  height: 90px;
  background: gray;
}
.details {
  display: none;
}
.mainfooter {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  box-sizing: border-box;
}
#banner {
  background: #FFBD27;
  padding: 20px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}
.schedule {
  margin-top:2rem;
  h2{
    color: #C1272D;
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  ul {
    margin-left: 1.4rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    a {
      font-weight: 600;
    }
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .episode .back {
    dt {
      font-weight: 600;
    }
    dd {
      font-weight: 300;
    }
  }
}
@media only screen and (max-width : 880px) {
  .mainheader {
    nav ul {
      text-align: center;
    }
  }
  .episode {
    display: block;
    .front {
      display: none;
    }
  }
  #content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 220px;
    width: 540px;
  }
  .sidemenu {
    left: 20px;
  }
}
@media only screen and (max-width : 540px) {
  .sidemenu {
    display: none;
  }
  #content {
    padding: 0;
    width: 300px;
  }
  .mainheader li:first-child {
    display: none;
  }
  .mainheader {
    overflow: hidden;
  }
}
