.description
  p(itemprop="description") A weekly interview show about the web and the friends who make it.
  .caption
    span(itemscope, itemprop="author director producer", itemtype="http://schema.org/Person")
      | Hosted by 
      meta(itemprop="url", content="http://www.garthdb.com")
      a(href="http://www.garthdb.com", itemprop="name", rel="author") Garth Braithwaite
.sponsor
  div Brought to you by
  ul
    li
      a(href="http://mediatemple.net/?utm_source=goodstuff&utm_medium=textlink&utm_content=mar_podcast&utm_campaign=general") (mt) Media Temple
      | : Use code GOODSTUFF for 25% off your first month.
    li
      a(href="http://www.campaignmonitor.com/") Campaign Monitor
      | : Tell them you heard about it on Goodstuff
