extends layout
include partials/episode
include partials/disqus

block content
  -episode.guest.full_name = episode.guest.first_name+ " " +episode.guest.last_name
  +episode(episode)
  +disqus(episode.title, url, episode._id)
