doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    header.mainheader
      img(src="/img/web-friends-logo.svg", alt="Web Friends", class="logo")
      nav
        ul
          li: a sponsor
          li: a subscribe
    #content
      block content
    include partials/analytics