doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/fonts/stylesheet.css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/style.css')
  body
    header.mainheader
      img(src="/img/web-friends-logo.svg", alt="Web Friends", class="logo")
      nav
        ul
          li: a sponsor
          li: a subscribe
    #content
      block content
    include partials/analytics