doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/fonts/stylesheet.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='width=device-width, minimal-ui')
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="/js/mediaelement/mediaelement-and-player.min.js")
    link(rel="stylesheet", href="/js/mediaelement/mediaelementplayer.css")
  body(itemscope, itemtype="http://schema.org/WebPage")
    span.details
      meta(itemprop="description", content="A weekly podcast about the web and the friends that make it.")
      span(itemscope, itemprop="author", itemtype="http://schema.org/Person")
        meta(itemprop="url", content="http://www.garthdb.com")
        meta(itemprop="name", content="Garth Braithwaite")
    header.mainheader
      img(src="/img/web-friends-logo.svg", alt="Web Friends", class="logo")
      nav
        ul
          li: a(href="/") home
          li: a(href="/schedule") episode schedule
          li: a(href="http://goodstuff.fm/advertise/") sponsor
          li: a(href="https://itunes.apple.com/us/podcast/web-friends/id843374356?mt=2") itunes
          li: a(href="http://goodstuff.fm/webfriends/feed") rss
    main#content
      block content
    footer.mainfooter
      | by
      a(href="https://plus.google.com/110061908980781621401/", rel="author") Garth Braithwaite
    script.
      $('audio').mediaelementplayer();
    include partials/analytics
