doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/fonts/stylesheet.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='width=device-width, minimal-ui')
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="/js/mediaelement/mediaelement-and-player.min.js")
    link(rel="stylesheet", href="/js/mediaelement/mediaelementplayer.css")
  body
    header.mainheader
      img(src="/img/web-friends-logo.svg", alt="Web Friends", class="logo")
      nav
        ul
          li: a(href="/") home
          li: a(href="/schedule") episode schedule
          li: a(href="http://goodstuff.fm/advertise/") sponsor
          li: a(href="https://itunes.apple.com/us/podcast/web-friends/id843374356?mt=2") itunes
          li: a(href="http://goodstuff.fm/webfriends/feed") rss
    main#content
      block content
    script.
      $('audio').mediaelementplayer();
    include partials/analytics
