extends layout

block content
  aside.sidemenu
    block sidemenu
      include partials/sidemenu
  h2 First Season Schedule
  ul
    each episode in episodes
      -episode.guest.full_name = episode.guest.first_name+ " " +episode.guest.last_name
      li
        a(href=episode.guest.urls[0].url) #{episode.guest.full_name}
        |  #{moment(episode.publish_date).format("MMM Do, YYYY")}
