doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Web Friends
    link(rel='stylesheet', type='text/css', href='css/reset.css')
    style.
      body{font-family:"Trebuchet MS",verdana,sans-serif;color:#333;font-size:18px}.mainheader{background:url("../img/halftone_bg.svg") #c1272d no-repeat bottom center;width:100%;height:350px;background-size:contain;text-align:center;position:relative}.logo{max-width:844px;width:100%;height:auto;position:relative}#content{max-width:550px;position:relative;margin:20px auto 0}h1{font-size:2.5rem;margin:40px 0 10px}p{line-height:2rem}a{color:#ff8e32;text-decoration:none}a:hover{text-decoration:underline}
    //
      if lt IE 9script(src = '//html5shiv.googlecode.com/svn/trunk/html5.js')
          
  body
    header.mainheader
      img.logo(src='/img/web-friends-logo.svg', alt='Web Friends')
    #content
      h1 Welcome, friend.
      p Web friends is a new podcast about the web and the friends who make it.
      h1 Where are the episodes?
      p
        | Still pretty fresh right now.  I'm designing this site, and lining up the first guests.
      p
        | Follow the show on
        a(href='https://twitter.com/webfriendsio') Twitter
        | and I'll let you know when we start publishing.
    footer