doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Web Friends
    style.
      body{margin: 0;font-family:"Trebuchet MS",verdana,sans-serif;color:#333;font-size:18px}.mainheader{background:url("../img/halftone_bg.svg") #c1272d no-repeat bottom center;width:100%;height:350px;background-size:contain;text-align:center;position:relative}.logo{max-width:844px;width:100%;height:auto;position:relative}#content{max-width:550px;position:relative;margin:20px auto 0}h1{font-size:2.5rem;margin:40px 0 10px}p{line-height:2rem}a{color:#ff8e32;text-decoration:none}a:hover{text-decoration:underline}
    //
      if lt IE 9script(src = '//html5shiv.googlecode.com/svn/trunk/html5.js')
          
  body
    header.mainheader
      img.logo(src='/img/web-friends-logo.svg', alt='Web Friends')
    #content
      h1 Welcome, friend.
      p Web friends is a new podcast about the web and the friends who make it.  It's hosted by me, <a href="http://www.twitter.com/garthdb">Garth Braithwaite</a>.
      h1 Where are the episodes?
      p I'll be recording, and broadcasting live, every Friday at noon, pacific.  You'll be able to listen in <a href="http://goodstuff.fm/live">here</a>.
      p The first season is all lined up! Here's what we've have set up:
      ul
        li March 21 - <a href="https://twitter.com/markjohnsoncc">Mark Johnson</a>
        li March 28 - <a href="https://twitter.com/vlh">Val Head</a>
        li April 4 - <a href="https://twitter.com/bermonpainter">Bermon Painter</a>
        li April 11 - <a href="https://twitter.com/dam">Kristofer Joseph</a>
        li April 18 - <a href="https://twitter.com/rachelnabors">Rachel Nabors</a>
        li April 25 - <a href="https://twitter.com/areus">Aaron Wade</a>
        li May 2 - <a href="https://twitter.com/mrmrs_">Adam Morse</a>
        li May 9 - <a href="https://twitter.com/brianleroux">Brian LeRoux</a>
      p
        | Follow the show on 
        a(href='https://twitter.com/webfriendsio') Twitter
        |  and I'll let you know when we start publishing.
    footer
    include partials/analytics