body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}
.mainheader {
  background: url("../img/halftone_bg.svg") #c1272d no-repeat bottom center;
  width: 100%;
  height: 350px;
  background-size: contain;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 60px;
}
.mainheader img {
  width: 820px;
  margin-top: -10px;
}
.mainheader nav {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(138,28,32,0.6);
}
.mainheader nav ul {
  width: 100%;
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  height: 100%;
  text-align: right;
}
.mainheader nav li {
  display: inline-block;
  height: 100%;
  line-height: 60px;
  box-sizing: border-box;
}
.mainheader nav a {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  color: #fff;
  cursor: pointer;
}
.mainheader nav a:hover {
  text-decoration: none;
  background: #8a1c20;
}
.logo {
  max-width: 844px;
  width: 100%;
  height: auto;
  position: relative;
}
#content {
  max-width: 810px;
  position: relative;
  margin: 20px auto 0;
}
h1 {
  font-size: 2.5rem;
  margin: 40px 0 10px;
}
p {
  line-height: 1.4rem;
}
a {
  color: #ff8e32;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.episode .back,
.episode .front {
  width: 300px;
  height: 400px;
  box-shadow: 1px 7px 8px rgba(0,0,0,0.2);
  display: inline-block;
  overflow: hidden;
}
.episode .front {
  background: url("/img/halftone_bg_small.svg") #ffebaf no-repeat;
  background-position: right bottom;
  background-size: 241px 580px;
  position: relative;
  margin-right: 20px;
}
.episode .front .guestname {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 3;
}
.episode .front_image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.episode .logo_small {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 3;
}
.episode .title {
  color: #fff;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
  font-family: 'ostrich_sans';
  font-size: 24px;
  padding: 5px;
}
.episode .title:before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 112px 112px 0;
  border-color: transparent #42af9b transparent transparent;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
}
.episode .guestname {
  font-family: 'blackout';
  color: #e24c68;
  font-size: 30px;
}
.episode .back {
  background: #f0e8dc;
  box-sizing: border-box;
  padding-top: 10px;
  color: #6e5f5c;
  position: relative;
}
.episode .back header {
  background: #f7be5a;
  height: 40px;
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.episode .back .guestname {
  font-size: 26px;
  position: relative;
  top: 2px;
}
.episode .back .guestname,
.episode .back .episodenumber {
  display: inline-block;
}
.episode .back .episodenumber {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 24px;
}
.episode .back .avatar {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 40px;
  margin: 0 10px 0 0;
  float: left;
}
.episode .back .backdetails {
  padding: 10px 20px;
}
.episode .back dl {
  font-size: 14px;
}
.episode .back dl a {
  font-weight: 400;
}
.episode .back .toplist {
  margin-top: 6px;
  margin-bottom: 15px;
}
.episode .back dt {
  font-weight: 600;
  margin-bottom: 2px;
}
.episode .back dd {
  font-weight: 300;
  margin-bottom: 10px;
}
.episode .back dd p {
  line-height: normal;
}
.episode .back .links {
  font-size: 14px;
  list-style: none;
}
.episode .back .links li {
  display: inline-block;
}
.episode .back .links li.twitter:before {
  content: url("/img/twitter.svg");
  vertical-align: center;
}
.episode .back .audioplayer {
  background: #fff;
  width: 100%;
  height: 95px;
  position: absolute;
  bottom: 14px;
  box-sizing: border-box;
  padding: 10px 20px;
}
#content {
  box-sizing: border-box;
  padding-bottom: 30px;
}
.sidemenu {
  display: inline-block;
  width: 160px;
}
