body {
  font-family: "Trebuchet MS", verdana, sans-serif;
  color: #333;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}
.mainheader {
  background: url("../img/halftone_bg.svg") #c1272d no-repeat bottom center;
  width: 100%;
  height: 350px;
  background-size: contain;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 60px;
}
.mainheader img {
  width: 820px;
  margin-top: -10px;
}
.mainheader nav {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(138,28,32,0.6);
}
.mainheader nav ul {
  width: 100%;
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  height: 100%;
  text-align: right;
}
.mainheader nav li {
  display: inline-block;
  height: 100%;
  line-height: 60px;
  box-sizing: border-box;
}
.mainheader nav a {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  color: #fff;
  cursor: pointer;
}
.mainheader nav a:hover {
  text-decoration: none;
  background: #8a1c20;
}
.logo {
  max-width: 844px;
  width: 100%;
  height: auto;
  position: relative;
}
#content {
  max-width: 550px;
  position: relative;
  margin: 20px auto 0;
}
h1 {
  font-size: 2.5rem;
  margin: 40px 0 10px;
}
p {
  line-height: 2rem;
}
a {
  color: #ff8e32;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.episode .front {
  width: 300px;
  height: 400px;
  background: url("/img/halftone_bg_small.svg") #ffebaf no-repeat;
  background-position: right bottom;
  background-size: 241px 580px;
  box-shadow: 1px 7px 8px rgba(0,0,0,0.2);
  position: relative;
}
.episode .front_image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.episode .logo_small {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 3;
}
.episode .title {
  color: #fff;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
  font-family: 'ostrich_sans';
  font-size: 24px;
  padding: 5px;
}
.episode .title:before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 112px 112px 0;
  border-color: transparent #42af9b transparent transparent;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
}
.episode .guestname {
  font-family: 'blackout';
  color: #e24c68;
  font-size: 30px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 3;
}
#content {
  box-sizing: border-box;
  padding-bottom: 30px;
}
