<div class="description">
  <p itemprop="description">A weekly interview show about the web and the friends who make it.</p>
  <div class="caption">
    <span itemscope itemprop="author director producer" itemtype="http://schema.org/Person">
      Hosted by&nbsp;<meta itemprop="url" content="http://www.garthdb.com"><a href="http://www.garthdb.com" itemprop="name" rel="author">Garth Braithwaite</a>
    </span>
  </div>
</div>
<div class="sponsor">
  <div>Brought to you by</div>
  <ul>
    <li>
      <a href="http://www.campaignmonitor.com/">Campaign Monitor</a>: Tell them you heard about it on Goodstuff
    </li>
  </ul>
</div>
