<section class="description">
  <p itemprop="description">A weekly interview show about the web and the friends who make it.</p>
  <div class="caption">
    <span itemscope itemprop="author director producer" itemtype="http://schema.org/Person">
      Hosted by&nbsp;<meta itemprop="url" content="http://www.garthdb.com"><a href="http://www.garthdb.com" itemprop="name" rel="author">Garth Braithwaite</a>
    </span>
  </div>
</section>
<section class="archive_list">
  <header>
    Archive
  </header>
  <nav>
    <ul>
      {% for page in site.pages %}
      {% for pc in page.category %}
      {% if pc == "archive" %}
      <li><a href="{{page.url}}">{{page.title}}</a></li>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
  </nav>
</section>
<section class="sponsor">
  <header>Brought to you by</header>
  <ul>
    <li>
      <a href="http://www.campaignmonitor.com/">Campaign Monitor</a>: Tell them you heard about it on Goodstuff
    </li>
    <li>
      <a href="https://bdconf.com/">BD Conf</a>: A conference about the future of how we need to think about web design
    </li>
  </ul>
</section>
